{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}


{% block main %}
<div class = "container">
    <div class = "card">
        <form class = "form" action="/login" method="post">
            <h1 class = "cardtitle" >Login</h1>
            <h2 class = "cardsubheading" > For {{client_type}}s </h2>

            <div class="cardinput">
                <input autocomplete="off" autofocus id="username" name="username" placeholder="Username" type="text">
                <label for = "username" class = "cardlabel" >Username</label>
            </div>

            <div class="cardinput">
                <input id="password" name="password" placeholder="Password" type="password">
                <label for = "passwords" class = "cardlabel" >Password</label>
            </div>

            <div class = "cardbutton">
                <button type = "submit">Log In</button>
                <button type = "reset" id= "resetbutton"><b>Reset</b></button>
            </div>
        </form>
    </div>
    <form action = "/clientselect" method = "get">
        <Button class = "portalbutton" >Switch Portals</Button>
    </form>
</div>

{% endblock %}
